@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@font-face {
  font-family: GothamBlack;
  src: url(Gotham-Black.otf);
}

@font-face {
  font-family: GothamBook;
  src: url(GothamBook.ttf);
}

@font-face {
  font-family: GothamBold;
  src: url(GothamBold.ttf);
}

.gothamblack {
  font-family: GothamBlack;
}

.gothambold {
  font-family: GothamBold;
}

.gothambook {
  font-family: GothamBook;
}

.yellow {
  color: #fad442;
}

.fs70 {
  font-size: 70px;
}

.fs90 {
  font-size: 90px;
}

@media only screen and (max-width: 600px) {
  .fs70 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 900px) {
  .fs90 {
    font-size: 40px;
  }
  .show900{
    display: block;
  }
  .none900{
    display: none;
  }
  .float{
    font-size: 40px;
  }
}
@media only screen and (min-width: 900px) {
  .show900{
    display: none;
  }
  .none900{
    display: block;
  }
  
}

.float{
  font-size: 20px;
	position:fixed;
	/* width:60px;
	height:60px; */
	bottom:80px;
	right:40px;
	background-color:#fad442;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}